.DS_Store
.vscode/
__pycache__/
.ipynb_checkpoints/
.virtual_documents/
*.parquet

# Ignore all .gz, .csv and .txt files in all directories
*.json
*.gz
*.csv
*.txt
*.idx

# Include .csv and .txt files in the root directory
!/*.csv
!/*.txt
!/orig/*.csv
!/orig/*.txt

